Repository yairfalse/modern-cloud-app: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, go-test, frontend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-lint:
      glob: "*.go"
      run: golangci-lint run {staged_files}
    go-test:
      glob: "*.go"
      run: go test ./...
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && npm run lint
    commitlint:
      run: echo "{1}" | npx commitlint

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit

docs: create comprehensive README with project overview, setup instructions, and architecture details
  README.md
Due: none

feat: add comprehensive Terraform infrastructure for ModernBlog on GCP
  terraform/.gitignore
  terraform/Makefile
  terraform/README.md
  terraform/environments/dev/backend-dev.hcl.example
  terraform/environments/dev/main.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/environments/prod/backend-prod.hcl.example
  terraform/environments/prod/main.tf
  terraform/environments/prod/terraform.tfvars.example
  terraform/environments/prod/variables.tf
  terraform/environments/staging/backend-staging.hcl.example
  terraform/environments/staging/main.tf
  terraform/environments/staging/terraform.tfvars.example
  terraform/environments/staging/variables.tf
  terraform/main.tf
  terraform/modules/cloudsql/main.tf
  terraform/modules/cloudsql/outputs.tf
  terraform/modules/cloudsql/variables.tf
  terraform/modules/gke/main.tf
  terraform/modules/gke/outputs.tf
  terraform/modules/gke/variables.tf
  terraform/modules/iam/main.tf
  terraform/modules/iam/outputs.tf
  terraform/modules/iam/variables.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/monitoring/outputs.tf
  terraform/modules/monitoring/variables.tf
  terraform/modules/networking/main.tf
  terraform/modules/networking/outputs.tf
  terraform/modules/networking/variables.tf
  terraform/modules/pubsub/main.tf
  terraform/modules/pubsub/outputs.tf
  terraform/modules/pubsub/variables.tf
  terraform/modules/storage/main.tf
  terraform/modules/storage/outputs.tf
  terraform/modules/storage/variables.tf
  terraform/outputs.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: none

feat: add comprehensive Dagger pipeline for Terraform infrastructure management
  .github/workflows/terraform-pipeline.yml
  ci/dagger/README.md
  ci/dagger/dagger.json
  ci/dagger/examples/github-actions-setup.md
  ci/dagger/examples/local-usage.sh
  ci/dagger/go.mod
  ci/dagger/main.go
Due: go-lint, go-test

changed regex to account_id = "${substr(var.name_prefix, 0, 10)}-storage-sa"
  terraform/modules/iam/main.tf
Due: none

deleted the monitoring part, we dont nbeed it I will add later a bterre solution.
  terraform/main.tf
Due: none

Fix corrupted storage module for ultra-budget configuration
  terraform/modules/storage/main.tf
  terraform/modules/storage/outputs.tf
  terraform/modules/storage/variables.tf
  terraform/outputs.tf
Due: none

fix: correct storage module arguments in main.tf
  terraform/main.tf
Due: none

fix: achieve 0 TFLint issues - clean Terraform code
  .tflint.hcl
  README.md
  terraform/environments/dev/backend-dev.hcl.example
  terraform/environments/dev/main.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/environments/prod/backend-prod.hcl.example
  terraform/environments/prod/main.tf
  terraform/environments/prod/terraform.tfvars.example
  terraform/environments/prod/variables.tf
  terraform/environments/staging/backend-staging.hcl.example
  terraform/environments/staging/main.tf
  terraform/environments/staging/terraform.tfvars.example
  terraform/environments/staging/variables.tf
  terraform/modules/cloudsql/main.tf
  terraform/modules/gke/main.tf
  terraform/modules/iam/main.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/monitoring/variables.tf
  terraform/modules/networking/main.tf
  terraform/modules/networking/variables.tf
  terraform/modules/pubsub/main.tf
  terraform/modules/storage/main.tf
  terraform/modules/storage/variables.tf
  terraform/variables.tf
Due: none

fix: remove undefined variables from Terraform configuration
  terraform/main.tf
  terraform/terraform.tfvars.example
Due: none

fix: remove environment parameter from storage module call
  terraform/main.tf
Due: none

feat: add complete 5-minute development environment setup system
  terraform/Brewfile
  terraform/Makefile
  terraform/SETUP_GUIDE.md
  terraform/dev/docker-compose.dev.yml
  terraform/dev/grafana/provisioning/datasources/prometheus.yml
  terraform/dev/init-scripts/01-init.sql
  terraform/dev/kind-config.yaml
  terraform/dev/prometheus.yml
  terraform/dev/redis.conf
  terraform/dev/skaffold.yaml
  terraform/scripts/configure-dev-env.sh
  terraform/scripts/detect-platform.sh
  terraform/scripts/install-tools.sh
  terraform/scripts/setup-local-k8s.sh
  terraform/scripts/validate-setup.sh
  terraform/setup.sh
Due: none

docs: add comprehensive onboarding documentation for new developers
  terraform/README.md
  terraform/docs/AI-WORKFLOW.md
  terraform/docs/ARCHITECTURE.md
  terraform/docs/DAILY-WORKFLOW.md
  terraform/docs/ONBOARDING.md
  terraform/docs/TROUBLESHOOTING.md
Due: none

feat: implement complete ModernBlog setup system with production-ready scripts
  Brewfile
  Makefile
  dev/docker-compose.dev.yml
  dev/grafana/provisioning/datasources/prometheus.yml
  dev/init-scripts/01-init.sql
  dev/kind-config.yaml
  dev/pgadmin/servers.json
  dev/prometheus.yml
  dev/redis.conf
  dev/skaffold.yaml
  docs/AI-WORKFLOW.md
  docs/ARCHITECTURE.md
  docs/DAILY-WORKFLOW.md
  docs/ONBOARDING.md
  docs/TROUBLESHOOTING.md
  scripts/configure-dev-env.sh
  scripts/detect-platform.sh
  scripts/install-tools.sh
  scripts/setup-local-k8s.sh
  scripts/validate-setup.sh
  setup.sh
  terraform/Brewfile
  terraform/Makefile
  terraform/dev/docker-compose.dev.yml
  terraform/dev/kind-config.yaml
  terraform/scripts/configure-dev-env.sh
  terraform/scripts/detect-platform.sh
  terraform/scripts/install-tools.sh
  terraform/scripts/setup-local-k8s.sh
  terraform/scripts/validate-setup.sh
  terraform/setup.sh
Due: none

feat: simplify ModernBlog setup system for ultra-fast development
  Makefile
  dev/kind-config.yaml
  dev/postgres.yaml
  dev/skaffold.yaml
  scripts/install-tools.sh
  scripts/setup-local-k8s.sh
  setup.sh
Due: none

docs: update README with clean, GitHub-friendly formatting
  README.md
Due: none

fix: Linux compatibility and remove unnecessary complexity
  Brewfile
  Makefile
  dev/docker-compose.dev.yml
  dev/grafana/provisioning/datasources/prometheus.yml
  dev/kind-config.yaml
  dev/pgadmin/servers.json
  dev/postgres.yaml
  dev/prometheus.yml
  dev/redis.conf
  dev/skaffold.yaml
  scripts/configure-dev-env.sh
  scripts/install-tools.sh
  scripts/setup-local-k8s.sh
  scripts/validate-setup.sh
  setup.sh
Due: none

feat: transform setup script into production-ready installer with comprehensive error handling
  setup.sh
Due: none

simplify: drastically reduce k8s setup complexity for fast local dev
  dev/kind-config.yaml
  scripts/setup-local-k8s.sh
Due: none

feat: add simple ModernBlog REST API backend
  backend/go.mod
  backend/go.sum
  backend/main.go
Due: go-lint, go-test

feat: add Docker setup and comprehensive test suite for backend
  backend/.dockerignore
  backend/Dockerfile
  backend/main_test.go
Due: go-lint, go-test

We need to add a lot of fixes to the Dagger workflow and fix the linter problem We fixed the bad functions
  .golangci.yml
  backend/main.go
  backend/main_test.go
  ci/dagger/dagger.json
  ci/dagger/go.mod
  ci/dagger/main.go
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/Layout.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/About.tsx
  frontend/src/pages/Home.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: go-lint, go-test, frontend-lint

feat: add Go backend and GitHub Actions workflow
  .github/workflows/backend.yml
  backend/.golangci.yml
  backend/blog.db
  ci/dagger/.gitattributes
  ci/dagger/.gitignore
  ci/dagger/examples/ai-integration.md
  ci/dagger/examples/backend-usage.sh
  ci/dagger/go.sum
Due: none

fix: remove broken security scan step from GitHub Actions workflow
  .github/workflows/backend.yml
Due: none

feat: fix backend linting issues and add TypeScript types
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/test/setup.ts
  frontend/src/types/api.ts
  frontend/src/types/common.ts
  frontend/src/types/index.ts
  frontend/vite.config.ts
  lefthook.yml
Due: frontend-lint

feat: apply Prettier formatting to frontend codebase
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/main.tsx
  frontend/src/pages/About.tsx
  frontend/src/pages/Home.tsx
  frontend/src/test/setup.ts
  frontend/src/types/api.ts
  frontend/src/types/common.ts
  frontend/src/types/index.ts
Due: frontend-lint

fixed testing and refactor main.go
  backend/main.go
  backend/main_test.go
Due: go-lint, go-test

added untracked file
  package-lock.json
Due: none

feat: update TypeScript interfaces for ModernBlog
  frontend/src/types/index.ts
Due: frontend-lint

docs: update README to reflect current project architecture
  README.md
Due: none

feat: create Go backend project structure
  backend/.dockerignore
  backend/Makefile
  backend/README.md
  backend/cmd/server/main.go
  backend/go.mod
  backend/internal/api/handler.go
  backend/internal/config/config.go
  backend/pkg/.gitkeep
Due: go-lint, go-test

feat: enhance Gin server with production-ready features...
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/api/handler.go
  backend/internal/config/config.go
Due: go-lint, go-test

feat: integrate CI/CD pipeline and quality tools
  .dagger/.gitattributes
  .dagger/.gitignore
  .dagger/go.mod
  .dagger/go.sum
  .dagger/main.go
  .github/workflows/terraform-pipeline.yml
  backend/.golangci-sample.yml
  backend/package-lock.json
  backend/package.json
  ci/dagger/README.md
  ci/dagger/dagger.json
  ci/dagger/examples/github-actions-setup.md
  ci/dagger/examples/local-usage.sh
  ci/dagger/go.mod
  ci/dagger/main.go
  commitlint.config.js
  dagger.json
  lefthook.yml
Due: go-lint, go-test

fix: add commitlint configuration file
  commitlint.config.js
Due: none

feat: add terraform infrastructure setup
  terraform/backend-dev.hcl.example
  terraform/backend.hcl
  terraform/environments/prod/main.tf
  terraform/environments/staging/main.tf
  terraform/main.tf
  terraform/main.tf.backup
  terraform/modules/cloudsql/main.tf
  terraform/modules/gke/main.tf
  terraform/modules/iam/main.tf
  terraform/modules/iam/outputs.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/monitoring/variables.tf
  terraform/modules/networking/main.tf
  terraform/modules/networking/variables.tf
  terraform/modules/pubsub/main.tf
  terraform/modules/pubsub/outputs.tf
  terraform/modules/pubsub/variables.tf
  terraform/modules/storage/main.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: none

chore: add commitlint configuration
  commitlint.config.js
  package-lock.json
  package.json
Due: none

feat: add simple terraform infrastructure with modules
  terraform/main.tf
  terraform/modules/database/main.tf
  terraform/modules/database/outputs.tf
  terraform/modules/database/variables.tf
  terraform/modules/gke/main.tf
  terraform/modules/gke/outputs.tf
  terraform/modules/gke/variables.tf
  terraform/modules/networking/main.tf
  terraform/modules/networking/outputs.tf
  terraform/modules/networking/variables.tf
  terraform/modules/storage/main.tf
  terraform/modules/storage/outputs.tf
  terraform/modules/storage/variables.tf
  terraform/namespaces.tf
  terraform/terraform-backup/main.tf.broken
  terraform/terraform-backup/modules/cloudsql/main.tf
  terraform/terraform-backup/modules/cloudsql/outputs.tf
  terraform/terraform-backup/modules/cloudsql/variables.tf
  terraform/terraform-backup/modules/cloudsql/variables.tf.corrupted
  terraform/terraform-backup/modules/gke/main.tf
  terraform/terraform-backup/modules/gke/outputs.tf
  terraform/terraform-backup/modules/gke/variables.tf
  terraform/terraform-backup/modules/iam/main.tf
  terraform/terraform-backup/modules/iam/outputs.tf
  terraform/terraform-backup/modules/iam/variables.tf
  terraform/terraform-backup/modules/monitoring/main.tf
  terraform/terraform-backup/modules/monitoring/outputs.tf
  terraform/terraform-backup/modules/monitoring/variables.tf
  terraform/terraform-backup/modules/networking/main.tf
  terraform/terraform-backup/modules/networking/outputs.tf
  terraform/terraform-backup/modules/networking/variables.tf
  terraform/terraform-backup/modules/networking/variables.tf.broken
  terraform/terraform-backup/modules/pubsub/main.tf
  terraform/terraform-backup/modules/pubsub/outputs.tf
  terraform/terraform-backup/modules/pubsub/variables.tf
  terraform/terraform-backup/modules/storage/main.tf
  terraform/terraform-backup/modules/storage/outputs.tf
  terraform/terraform-backup/modules/storage/variables.tf
  terraform/terraform-backup/outputs.tf
  terraform/versions.tf
Due: none

chore: remove broken dagger files and start clean
  .dagger/.gitattributes
  .dagger/.gitignore
  .dagger/go.mod
  .dagger/go.sum
  .dagger/main.go
  ci/dagger/README.md
  ci/dagger/dagger.json
  ci/dagger/examples/github-actions-setup.md
  ci/dagger/examples/local-usage.sh
  ci/dagger/go.mod
  ci/dagger/main.go
  dagger.json
Due: go-lint, go-test

feat: initialize dagger module
  ci/.gitattributes
  ci/.gitignore
  ci/dagger.json
  ci/go.mod
  ci/go.sum
  ci/main.go
Due: go-lint, go-test
